body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.topnav {
    width: 100%;
    background-color: #2f6073;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
    .topnav a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
        font-size: 20px;
        width: 150px;
    }
        .topnav a:hover {
            color: black;
            background-color: #F2AF5C;
        }

.headline {
    float: left;
    color: #F2AF5C;
    padding: 14px 10px;
    font-size: 30px;
    font-family: Pacifico;
}

.Banner {
    height: 200px;
}

.pricetable {
    width: 100%;
    text-align: left;
}

.leftcolumn33 {
    float: left;
    width: 10%;
}

.middlecolumn33 {
    float: left;
    width: 80%;
}

.rightcolumn33 {
    float: left;
    width: 10%;
}

.leftcolumn50 {
    float: left;
    width: 50%;
}

.rightcolumn50 {
    float: left;
    width: 50%;
    padding-left: 20px;
}

.card {
    padding: 50px;
    margin-top: 50px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 15px 2px #84849d;
}

.sidecard {
    padding: 10px;
    margin-top: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    font-size: 30px;
    font-family: Pacifico;
    text-align: center;
}

h3 {
    font-family: Pacifico;
    padding: 20px;
}

ul,
p {
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    padding:10px;
    line-height: 2;
}


.lastpicbar {
    margin-top:50px;
    overflow: hidden;
}

@keyframes imgbar {
    0% {
        left: -1050px;
        top: 0px;
    }

    50% {
        left: 1200px;
        top: 0px;
    }

    100% {
        left: -1050px;
        top: 0px;
    }
}

.imgbar {
    display:block;
    animation: imgbar 40s linear infinite;
    position: relative;
    border-radius: 5px;
}
    .imgbar:hover {
        animation-play-state: paused;
    }

.imgset {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left:25px;
    margin-right:25px;
    border-radius: 5px;
}

footer {
    background-color: #2f6073;
    width: 100%;
    padding: 30px 0px 20px 0px;
    margin-top: 50px;
}

.Footer__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    text-align:center;
    color: white;
}

.Footer__link {
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: center;
    color: white;
}

.privacy-box,
.social-media-box {
    color: #F2AF5C;
    font-size: 14px;
    position: center;
    text-align:center;
}

#Calendar1 {
    width: 300px;
}

#Calendar2 {
    width: 300px;
}

.BookingTable {
    width: 100%;
    font-size: 20px;
}

.imgMap {
    width: 400px;
    height: 400px;
}



@media only screen and (max-width: 1400px) {
    .Banner {
        height:150px;
    }
}

@media only screen and (max-width:1000px) {
    .Banner {
        height: 100px;
    }
}

@media only screen and (max-width:700px) {
    .Banner {
        height: 50px;
    }
}

@media only screen and (max-width: 700px) {
    .topnav {
        height: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .topnav a{
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .topnav a {
        font-size: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .headline {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    #Calendar1, #Calendar2 {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .imgMap {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .BookingTable {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    p {
        font-size:15px;
    }
}

@media only screen and (max-width: 485px) {
    .BookingTable, .TableChange {
        display: block;
    }
}
