body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

@font-face
{
font-family:"Pacifico";
src:url('Pacifico-Regular.ttf');
}

@font-face
{
font-family:"BreeSerif";
src:url('BreeSerif-Regular.ttf');
}

.topnav {
    width: 100%;
    background-color: #2f6073;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
    .topnav a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
        font-size: 20px;
        width: 150px;
    }
        .topnav a:hover {
            color: black;
            background-color: #F2AF5C;
        }

.headline {
    float: left;
    color: #F2AF5C;
    padding: 14px 10px;
    font-size: 30px;
    font-family: Pacifico;
}

.Hey {
    height: 200px;
}

.pricetable {
    width: 100%;
    text-align: left;
}

.leftcolumn33 {
    float: left;
    width: 10%;
}

.middlecolumn33 {
    float: left;
    width: 80%;
}

.rightcolumn33 {
    float: left;
    width: 10%;
}

.leftcolumn50 {
    float: left;
    width: 50%;
}

.rightcolumn50 {
    float: left;
    width: 50%;
    padding-left: 20px;
}

.card {
    padding: 20px;
    margin-top: 50px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 15px 2px #84849d;
}

.sidecard {
    padding: 10px;
    margin-top: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    font-size: 30px;
    font-family: Pacifico;
    text-align: center;
}

h3 {
    font-family: Pacifico;
}

p {
    font-size: 19px;
    font-family: sans-serif;
    padding: 20px;
}

.lastpicbar {
    overflow: hidden;
}

.imgbar {
    display: block;
    position: center;
}

.imgset {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

footer {
    background-color: #2f6073;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
}

.Footer__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    text-align:center;
}

.Footer__link {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
}

.privacy-box,
.social-media-box {
    color: #84849d;
    font-size: 14px;
    position: center;
    text-align:center;
}

#Calendar1 {
    width: 300px;
}

#Calendar2 {
    width: 300px;
}

.BookingTable {
    width: 100%
}

.imgMap {
    width: 400px;
    height: 400px;
}

@media only screen and (max-width: 1400px) {
    .Hey {
        height:150px;
    }
}

@media only screen and (max-width:1000px) {
    .Hey {
        height: 100px;
    }
}


@media only screen and (max-width:700px) {
    .Hey {
        height: 50px;
    }
}


@media only screen and (max-width: 700px) {
    .topnav {
        height: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .topnav a{
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .headline {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    #Calendar1, #Calendar2 {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .imgMap {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .BookingTable {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    p {
        font-size:15px;
    }
}
